@model MyEmptyMvcApp.Models.TodoItem

<form asp-action="Add" method="post">
    <div>
        <label>Task</label>
        <input asp-for="Title">
    </div>
    <div>
        <label>Completed</label>
        <input asp-for="IsComplete" type="checkbox">
    </div>
    <button type="submit">Create Task</button>
</form>